extends layout

block content
  h1= title
  p Welcome to #{title}
  p.jumbotron I am a passionate Front End Engineer with 3+ years of experience. I like to learn new technologies on my own and create hobby projects.
