extends layout

block content
  h1= title
  .col-md-10.col-xs-12 I am Kaustubh Vinzanekar, Front End Engineer at Pritchett, LP. I like to learn new technologies and apply those by creating hobby projects.
  .col-md-2.sidebar-section.category-widget-section
    h3 Technical Skills
