<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <title><%= title %></title>
</head>
<body>

 <section ng-include="'/example/views/view.html'"></section>


<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/example/module.js"></script>
<script type="text/javascript" src="/example/controllers/controller.js"></script>
<script type="text/javascript" src="/application.js"></script>
</body>
</html>
